{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block content %}

<div class="row column medium-9 large-7">
  <h1>About Us</h1>
  <p>This page is for all the nerds out there looking to expand their gaming circle.  Whether you need a healer for your D&D party, you're a lonely Jungilist that needs a party for League of Legends, need that last rare Magic card to finish your deck, or have a bunch of extra comics that you want to sell for some new comic money, this is the place for you.  Just make an account, then you're ready to start making posts and messaging other users.  You can use the links to browse certain posts, or just go to the home page to see all the posts.  If you have any quests, comments or concerns please direct them to HomestarRunner@Homestarrunner.net  Homestarrunner.net, it's dot com!</p>
</div>




{% endblock %}
