{% extends "base.html" %}

{% block title %}Add Suggestion{% endblock %}
{% block content %}
<div class="grid-x grid-padding-x">
  <!-- <div class="large-4 medium-4 small-12 cell"></div> -->
  <div class="large-6 medium-6 small-12 large-offset-3 medium-offset-3 cell">

    <form action="/suggest/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h4 class="text-center">Create Post</h4>
        {{ form }}
        <input type="submit" class="button expanded" value="Create Post" />
    </form>
  </div>
</div>
{% endblock %}
